<h1>Employee Show Page</h1>

<h4><%= @employee.full_name %><h4>
<%= image_tag  @employee.img_url, :alt => "Employee Picture" %>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>

